* {
    color: #2d3c49;
    font: normal 300 16px 'Lato', sans-serif;
}

.text-muted {
    color: #7d97ad;
}

.header-title {
    font-weight: 300;
}

.header-logo {
    margin-top: 20px;
    height: 64px;
}

.thick {
    border: 0 none;
    background-color: #2d3c49;
    height: 2px;
}

.project-info {
    margin: 0 0 20px;
}

.project-link {
    padding: 1.2em;
}

@media screen and (max-width: 480px){
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .header-logo {
        height: 51px;
    }
}