* {
    color: #2d3c49;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.header-super {
    font-weight: 300;
}

.header-logo {
    margin-top: 20px;
    height: 64px;
}

.thick {
    border: 0 none;
    background-color: #2d3c49;
    height: 2px;
}

@media screen and (max-width: 480px){
    .header-super {
        font-size: 30px;
    }

    .header-logo {
        height: 58px;
    }
}